body {
    background-color: beige;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
}
button {
    margin: 10px;
    padding-left:30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}